/* button {
    background: white;
    outline: none;
    padding: 2rem;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;

} */