 button[name='Linkbtn']:hover {
    background: #66CC33;
    color: white;
    transition: cubic-bezier(0.215, 0.610, 0.355, 1) 1.5s;
    border: none;
    outline: none;
    transform: translateX(10%)
}
a {
    text-decoration: none
}