input#sBtn {
    margin-bottom: .5rem;
    outline: none;
    border-color: rgb(165, 42, 42);
    padding: .7rem;
    width: min-content;
    font-weight: 550;
    border-radius: .8rem;
    margin-left: 1rem;
 }
input#sBtn:focus {
    width: 85vw;
 
}
