figure img {
    max-width: 100%;
}

figure {
     width: 100%;
     margin: 0;
}
figcaption {
    font-size: x-large;
    font-weight: bolder;
    font-family: cursive;
    margin-top: .5rem;
    color: rgb(165, 42, 42);
    margin-left: 1.2rem;

}